.container {
  position: relative;
  text-align: center;
}

.one {
  width: 100%;
  max-width: 80vw;
  margin: auto;
}

.card {
  border: 1px solid red;


  @media screen and(min-width: 374px) {
    display: inline-block;
    width: 30%;
  }

  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }

  &:hover ~ div {
    background: lime;
    margin: 2rem;
  }



  margin: 0 5px;

  .context {
    border: 1px solid blue;
    img {
      width: 100%;
    }
  }

}
